{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="plist" class="people-list people-center">
        <ul class="list-unstyled chat-list mt-2 mb-0">
			{% for u in users %}
        	<a href="{{ URL }}/chat/{{ u.id }}"><li class="clearfix">
                <div class="about">
                    <div class="name">{{ u.name }}</div>
                    <!-- Время последнего сообщения и само сообщение -->
                    <!--<div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>-->
                </div>
        	</li></a>
			{% endfor %}
        </ul>
    </div>
</div>
{% endblock %}